In [9]:
a = 15
b = 14
a + b

29

In [10]:
a = 15
b = 14
a - b

1

In [13]:
15*4

60

In [28]:
15 / 14

1.0714285714285714

In [27]:
15 // 14

1

In [30]:
15 % 14

1

In [ ]:
Q2. Check the type and convert: (num1 = 10, num2 = 5.6, num3 = 4.43, num4='23')

    Integer to float

    Float to integer

    Float to String

    String to Integer

In [65]:
num1 = 10
num1 = float(num1)
print(num1)
print(type(num1))

10.0
<class 'float'>

In [64]:
num2 = 5.6
num2 = int(5.6)
print(num2)
print(type(5))

5
<class 'int'>

In [9]:
num3 = 4.43
num3 = str('4.43')
print(num3)
print(type(num3))

4.43
<class 'str'>

In [10]:
num4 = '23'
num4 = int('23')
print(num4)
print(type(num4))

23
<class 'int'>

In [ ]:


Q3. Write a code to store your favorite food in a variable and print it.

In [19]:
m = 'mango'
print('M')

M

In [ ]:
Q4. "I have 22 apples and 33 mangoes. How many fruits do I have in total?"

apple = '22'

mangoes = 33

In [31]:
apple = '22'
mangoes = 33
apple = int('22')
22 + 33

55

In [ ]:
Q5. Store in a varibale: Write Your name , Your age, Add 1 to your age using a variable, Print final age

In [55]:
name = "Ahsan"
age = 39
z = 1
print(name)
age + z

Ahsan

40

In [ ]:
Q6.

a = 2

b = 1

c = 6

d = 3

    Add a and b

    Subtract c and a

    Multiply d and b

    Divide c and d (float division)

    Find modulus of c divided by d

    Square of (d+a)

In [65]:
a = 2

b = 1

c = 6

d = 3

a + b
c - a
d * b
float(c/d)
c%d
d = 3
a = 2
d+a
sum_value**2

NameError: name 'sum_value' is not defined

In [ ]:
Q7.

a = '2'

b = '11'

c = 6.3

    Convert a to integer then add to c

    Convert b to float then multiply by c

    Convert c to integer then add to c

In [66]:
a = '2'
b = '11'
c = 6.3
a = int('2')
a+c
b = float('11')
b*c
c=int(6.3)
c+c

12

In [ ]:
Q8.

You were 20 years old in the year 2020. Now add 5 more years to your age. What is your current age now?

Store age in a variable called age. Print final output in same variable

In [73]:
age = 20
age = age+5
print(age)

25

In [ ]:
Q9.

You had 12 books, and you gave 4 to your friend. How many books do you have now?

Store books in a variable called books. Print final output in same variable

In [75]:
books = 12
books = 12-4
print(books)

8

In [ ]:
Q10.

You baked 5 cookies. You baked 3 times more cookies today. How many cookies did you bake today?

Store cookies in a variable called cookies. Print final output in same variable

In [78]:
cookies = 5
cookies = 5*3
print(cookies)

15